<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Editing Javascript Object using Angularjs by NamitaMalik</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Editing Javascript Object using Angularjs</h1>
      <h2 class="project-tagline">This blog demonstrates how JavaScript objects can be edited using AngularJS.</h2>
      <a href="https://github.com/NamitaMalik/Editing-JavaScript-Object-using-AngularJS" class="btn">View on GitHub</a>
      <a href="https://github.com/NamitaMalik/Editing-JavaScript-Object-using-AngularJS/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/NamitaMalik/Editing-JavaScript-Object-using-AngularJS/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <h1>
<a id="editing-javascript-object-using-angularjs" class="anchor" href="#editing-javascript-object-using-angularjs" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Editing JavaScript Object using AngularJS</h1>

<p>At times we encounter a situation when we need to edit a <strong>JavaScript</strong> object(JSON). By editing, I mean modifying the keys and values of the object, or dynamically adding a new key and value to the object.</p>

<p>Well, to make such a situation more clear, let us see a scenario:</p>

<p>Suppose there are two input fields and a button:</p>

<ol>
<li>In the first input field, we need to add the key of the object.</li>
<li>Second input field takes the value that would be added to the corresponding key(i.e. the first input field).</li>
<li>On clicking the 'Add' button, pair of input fields would get added, which can then take the key-value pair.</li>
</ol>

<p>Here is the <strong>HTML</strong> and <strong>JavaScript</strong> code for it:</p>

<p><strong>editObject.html</strong>:</p>

<div class="highlight highlight-text-html-basic"><pre>&lt;!DOCTYPE html&gt;
&lt;<span class="pl-ent">html</span> <span class="pl-e">ng-app</span>=<span class="pl-s"><span class="pl-pds">"</span>myApp<span class="pl-pds">"</span></span>&gt;
&lt;<span class="pl-ent">head</span> <span class="pl-e">lang</span>=<span class="pl-s"><span class="pl-pds">"</span>en<span class="pl-pds">"</span></span>&gt;
    &lt;<span class="pl-ent">meta</span> <span class="pl-e">charset</span>=<span class="pl-s"><span class="pl-pds">"</span>UTF-8<span class="pl-pds">"</span></span>&gt;
    &lt;<span class="pl-ent">title</span>&gt;&lt;/<span class="pl-ent">title</span>&gt;
&lt;/<span class="pl-ent">head</span>&gt;
&lt;<span class="pl-ent">body</span> <span class="pl-e">ng-controller</span>=<span class="pl-s"><span class="pl-pds">"</span>ObjectController as objectController<span class="pl-pds">"</span></span>&gt;
&lt;<span class="pl-ent">h2</span>&gt;Key-Value:&lt;/<span class="pl-ent">h2</span>&gt;
&lt;<span class="pl-ent">div</span> <span class="pl-e">ng-repeat</span>=<span class="pl-s"><span class="pl-pds">"</span>oldKey in objectController.notSorted(objectController.student)<span class="pl-pds">"</span></span>&gt;
    &lt;<span class="pl-ent">label</span>&gt;Key {{$index+1}}&lt;/<span class="pl-ent">label</span>&gt;
    &lt;<span class="pl-ent">input</span> <span class="pl-e">type</span>=<span class="pl-s"><span class="pl-pds">"</span>text<span class="pl-pds">"</span></span> <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>newKey<span class="pl-pds">"</span></span> <span class="pl-e">ng-init</span>=<span class="pl-s"><span class="pl-pds">"</span>newKey=oldKey<span class="pl-pds">"</span></span> <span class="pl-e">ng-blur</span>=<span class="pl-s"><span class="pl-pds">"</span>objectController.updateKey(newKey, oldKey)<span class="pl-pds">"</span></span>&gt;
    &lt;<span class="pl-ent">label</span>&gt;Value {{$index+1}}&lt;/<span class="pl-ent">label</span>&gt;
    &lt;<span class="pl-ent">input</span> <span class="pl-e">type</span>=<span class="pl-s"><span class="pl-pds">"</span>text<span class="pl-pds">"</span></span> <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>newValue<span class="pl-pds">"</span></span> <span class="pl-e">ng-init</span>=<span class="pl-s"><span class="pl-pds">"</span>newValue=objectController.student[oldKey]<span class="pl-pds">"</span></span>
           <span class="pl-e">ng-blur</span>=<span class="pl-s"><span class="pl-pds">"</span>objectController.updateValue(newValue,oldKey)<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;
&lt;/<span class="pl-ent">br</span>&gt;
&lt;<span class="pl-ent">em</span>&gt;Click on 'Add' to add another key-value pair.&lt;/<span class="pl-ent">em</span>&gt;
&lt;/<span class="pl-ent">br</span>&gt;
&lt;/<span class="pl-ent">br</span>&gt;
&lt;<span class="pl-ent">input</span> <span class="pl-e">type</span>=<span class="pl-s"><span class="pl-pds">"</span>button<span class="pl-pds">"</span></span> <span class="pl-e">value</span>=<span class="pl-s"><span class="pl-pds">"</span>Add<span class="pl-pds">"</span></span> <span class="pl-e">ng-click</span>=<span class="pl-s"><span class="pl-pds">"</span>objectController.addNewKey()<span class="pl-pds">"</span></span>/&gt;
&lt;<span class="pl-ent">h2</span>&gt;Object:&lt;/<span class="pl-ent">h2</span>&gt;
{{objectController.student}}
&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s"><span class="pl-pds">"</span>angular.min.js<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">script</span>&gt;
&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s"><span class="pl-pds">"</span>ObjectController.js<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">script</span>&gt;
&lt;/<span class="pl-ent">body</span>&gt;
&lt;/<span class="pl-ent">html</span>&gt;</pre></div>

<p><strong>ObjectController.js</strong>:</p>

<div class="highlight highlight-source-js"><pre><span class="pl-c">/**</span>
<span class="pl-c"> * Created by Namita malik on 25/4/15.</span>
<span class="pl-c"> */</span>
(<span class="pl-k">function</span> (<span class="pl-smi">ng</span>) {
    <span class="pl-k">var</span> myApp <span class="pl-k">=</span> <span class="pl-smi">ng</span>.<span class="pl-en">module</span>(<span class="pl-s"><span class="pl-pds">'</span>myApp<span class="pl-pds">'</span></span>, []);
    <span class="pl-smi">myApp</span>.<span class="pl-en">controller</span>(<span class="pl-s"><span class="pl-pds">'</span>ObjectController<span class="pl-pds">'</span></span>, [<span class="pl-k">function</span> () {
        <span class="pl-k">var</span> objectController <span class="pl-k">=</span> <span class="pl-v">this</span>;
        <span class="pl-smi">objectController</span>.<span class="pl-smi">student</span> <span class="pl-k">=</span> {name<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>Namita<span class="pl-pds">"</span></span>, age<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>16<span class="pl-pds">"</span></span>, class<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>XII<span class="pl-pds">"</span></span>, school<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>BBPS<span class="pl-pds">"</span></span>};
        <span class="pl-smi">objectController</span>.<span class="pl-en">updateKey</span> <span class="pl-k">=</span> <span class="pl-k">function</span> (<span class="pl-smi">newKey</span>, <span class="pl-smi">oldKey</span>) {
            <span class="pl-k">if</span> (newKey <span class="pl-k">==</span> <span class="pl-s"><span class="pl-pds">"</span><span class="pl-pds">"</span></span>) {
                <span class="pl-k">delete</span> <span class="pl-smi">objectController</span>.<span class="pl-smi">student</span>[oldKey];
            } <span class="pl-k">else</span> <span class="pl-k">if</span> (newKey <span class="pl-k">!==</span> oldKey) {
                <span class="pl-smi">objectController</span>.<span class="pl-smi">student</span>[newKey] <span class="pl-k">=</span> <span class="pl-smi">objectController</span>.<span class="pl-smi">student</span>[oldKey];
                <span class="pl-k">delete</span> <span class="pl-smi">objectController</span>.<span class="pl-smi">student</span>[oldKey];
            }
        };
        <span class="pl-smi">objectController</span>.<span class="pl-en">updateValue</span> <span class="pl-k">=</span> <span class="pl-k">function</span> (<span class="pl-smi">newValue</span>, <span class="pl-smi">key</span>) {
            <span class="pl-smi">objectController</span>.<span class="pl-smi">student</span>[key] <span class="pl-k">=</span> newValue;
        };
        <span class="pl-smi">objectController</span>.<span class="pl-en">notSorted</span> <span class="pl-k">=</span> <span class="pl-k">function</span> (<span class="pl-smi">object</span>) {
            <span class="pl-k">return</span> object <span class="pl-k">?</span> <span class="pl-c1">Object</span>.<span class="pl-en">keys</span>(object) <span class="pl-k">:</span> [];
        };
        <span class="pl-smi">objectController</span>.<span class="pl-en">addNewKey</span> <span class="pl-k">=</span> <span class="pl-k">function</span> () {
            <span class="pl-smi">objectController</span>.<span class="pl-smi">student</span>[<span class="pl-s"><span class="pl-pds">"</span><span class="pl-pds">"</span></span>] <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span><span class="pl-pds">"</span></span>;
        };
    }]);
})(angular);</pre></div>

<p>Before starting with the actual logic in the above code, please note that the above code is written in <strong>controller as</strong> syntax. Here are a few points for that:</p>

<ol>
<li>I have created an alias <code>objectController</code> for my controller <code>ObjectController</code> here <code>&lt;body ng-controller="ObjectController as objectController"&gt;</code>.</li>
<li>In the <code>Controller</code>, I have not passed <strong>$scope</strong> object to the function, instead created a variable named <code>objectController</code> and assigned <code>this</code> to it. Instead of hanging around with <strong>$scope</strong>, I have added model data and the behaviour to the <strong>controller</strong> instance.</li>
<li>Instead of defining function with <strong>$scope</strong>, I have defined it on <strong>this</strong> (<code>objectController</code>).</li>
<li>Using <strong>controller as</strong> syntax is a personal choice, but I am finding it more readable and consistent and also I am getting rid of the <code>$scope</code>.</li>
</ol>

<p>Let's now come to the actual <strong>scope</strong> of this post, i.e. editing a <strong>JavaScript</strong> <strong>Object</strong>.</p>

<p>We have a student <strong>object</strong> whose <strong>keys</strong> and <strong>values</strong> are being displayed. We are modifying this <strong>student</strong> object.</p>

<p>If you look at the above demo, we can do two things there:</p>

<ol>
<li>Modify the existing keys/values.</li>
<li>Add new key/value.</li>
</ol>

<p>Here is explanation of both the cases:</p>

<h4>
<a id="1--modify-the-existing-keysvalues" class="anchor" href="#1--modify-the-existing-keysvalues" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>1 : Modify the existing keys/values.</h4>

<ol>
<li>We have an <code>updateKey</code> function, which is called as soon as user modifies the key. <code>updateKey()</code> is called on the <strong>blur</strong> <strong>event</strong> of the <strong>key</strong> field.</li>
<li>
<code>updateKey()</code> takes two parameters i.e. <code>newKey</code> and <code>oldKey</code>, names of which are self explanatory.</li>
<li>Now, let's move on to <code>HTML</code> for a while and see what is happening there. We need to investigate these two lines specifically:
<code>&lt;div ng-repeat="oldKey in objectController.notSorted(objectController.student)"&gt;</code>
and
<code>&lt;input type="text" ng-model="newKey" ng-init="newKey=oldKey" ng-blur="objectController.updateKey(newKey, oldKey)"&gt;</code>.</li>
<li>We are iterating the object using the <strong>ng-repeat</strong> directive and hence we are using the <code>oldKey</code>, as an <strong>object</strong> can be iterated using the <strong>key</strong>.</li>
<li>There is an <strong>ng-model</strong> on the <strong>key</strong> field. This model has been bind to the <code>newKey</code>. We are initializing the value of <code>newKey</code> with the <code>oldKey</code>.</li>
<li>We know that <strong>blur</strong> event is fired when an element looses focus, so when a user ends updating the <strong>key</strong> and moves to the other field using <strong>keyboard</strong> or <strong>clicks</strong> anywhere, <code>updateKey</code> function would be called which would take both <code>newKey</code> and <code>oldKey</code> as its arguments.</li>
<li>Now, coming back to our <code>updateKey</code> function, we check that if <code>newKey</code> is not equal to <code>oldKey</code>, I pass the value in the <code>oldKey</code> to the <code>newKey</code> and then delete the <code>oldKey</code> using the <strong>delete</strong> operator.</li>
<li>In case user updates an existing key with an empty <strong>string</strong>, in that case, key would be deleted as empty key would not make sense.</li>
<li>Now, let's check the <code>updateValue</code> function. This function is called when the <strong>blur</strong> event is fired on the the <strong>value</strong> field.</li>
<li>On the <code>HTML</code> have a look at this code: <code>&lt;input type="text" ng-model="newValue" ng-init="newValue=objectController.student[oldKey]" ng-blur="objectController.updateValue(newValue,oldKey)"&gt;</code>. The input field for value has model <code>newValue</code>. We initialize <code>newValue</code> with the value in the <code>oldKey</code>. Once user modifies the value and focus is lost, <code>updateValue()</code> function is called which takes <code>newValue</code> and <code>oldKey</code> along with it as its arguments.</li>
<li>Let's see the definition part of <code>updateValue</code> function. In this function, we are simply passing the updated value(<code>newValue</code>) to the <code>oldKey</code>.</li>
</ol>

<p>So this was all about updating key and value. Now let's take up the second case:</p>

<h4>
<a id="2-add-new-keyvalue" class="anchor" href="#2-add-new-keyvalue" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>2. Add new key/value.</h4>

<ol>
<li>On clicking the "Add" button, <code>addNewKey</code> function is called.</li>
<li>In the <code>addNewKey</code> function, we are simply adding an empty <strong>string</strong> as the key and assigning empty <strong>string</strong> as a value to it. Now, as soon as user enters a <strong>key</strong> in this newly added <strong>key</strong> field and the field looses the focus, our <code>updateKey()</code> function would be called, which would then do all the magic explained above.</li>
</ol>

<h2>
<a id="follow-me" class="anchor" href="#follow-me" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Follow Me</h2>

<p><a href="https://github.com/NamitaMalik">Github</a></p>

<p><a href="https://twitter.com/namita13_04">Twitter</a></p>

<p><a href="https://in.linkedin.com/in/namita-malik-a7885b23">LinkedIn</a></p>

<p><a href="https://namitamalik.github.io/">More Blogs By Me</a></p>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/NamitaMalik/Editing-JavaScript-Object-using-AngularJS">Editing Javascript Object using Angularjs</a> is maintained by <a href="https://github.com/NamitaMalik">NamitaMalik</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
